.size {
    height: 50px;
    padding: 10px;
}

.colaz {
    color: aliceblue;
}

h1 {
    font-family: sans-serif;
}

h4 {
    color: rgb(233, 156, 14);
    margin: 80px 0 0 0;
}

.ml-10 {
    margin-left: 10%;
}

#d550 {
    width: 75px;
    height: 30px;
    background-color: rgb(54, 54, 54);
    color: aliceblue;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

h3 {
    color: rgb(233, 156, 14);
}

body {
    background-color: #E9ECEF;
}

h1, h4, ul {
    text-align: center;
    list-style-position: inside;
}

#sol002 {
    text-align: left;
    margin: 25px 0 0 50px;
}

#A001 {
    color: darkviolet;
    font-family: sans-serif;
    margin: 50px 0 0 0;

}

button {
 height: 43px;
 width: 140px;
 color: white;
 border-radius: 8px;
 background-color: #24a0ed;
 border-width: 0;
 font-size: 18px;
 margin: 35px 0 0 46%;
 
}

.colaz1 {
    color: #dc3545;
    text-decoration: none;
}

.colaz2 {
    color: lightgray;
    text-decoration: none;
}

.colaz:hover {
    text-decoration: none;
}

.colaz1:hover {
    text-decoration: none;
}

.colaz2:hover {
    text-decoration: none;
}

.text-white:hover {
    text-decoration: none;
}
